src/main/resources/GetUserInput.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetUserInput">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="userId">
          <xs:annotation>
            <xs:documentation>Integer Value</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:string" name="userName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>