src/main/resources/test.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="customer">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="address"/>
        <xs:element type="xs:string" name="name"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="flag"/>
      <xs:attribute type="xs:byte" name="age"/>
    </xs:complexType>
  </xs:element>
</xs:schema>