src/main/resources/UpdateApplicationInput.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="UpdateApplicationInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:long" name="id" />
				<xs:element type="xs:long" name="to" />
				<xs:element type="xs:long" name="from" />
				<xs:element type="xs:string" name="content" />
				<xs:element type="xs:string" name="submissionDate" />
				<xs:element type="xs:string" name="status" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>